.input-field {
  @apply bg-transparent placeholder-gray-500 text-black dark:text-white focus:outline-none w-full;
}

.input-wrapper.big {
  @apply p-12;
  max-height: 40px;
}

.input-wrapper.medium {
  @apply p-10;
  max-height: 34px;
}

.input-wrapper.small {
  @apply p-10;
  max-height: 34px;
}

.input-wrapper {
  @apply w-full;
}

@screen md {
  .input-field.textarea {
    height: 136px;
  }
}

@screen sm {
  .input-wrapper.big {
    @apply p-16;
    max-height: 48px;
  }

  .input-wrapper.medium {
    @apply p-12;
    max-height: 40px;
  }
}

/* Hide input type number side arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
