/* Buttons */

.button.big {
  padding: 8px 32px;
  min-width: 100px;
  height: 32px;
}

.button.medium {
  padding: 6px 24px;
  min-width: 80px;
  height: 26px;
}

.button.small {
  padding: 6px 24px;
  min-width: 80px;
  height: 26px;
}

@screen sm {
  .button.big {
    padding: 12px 52px;
    min-width: 145px;
    height: 42px;
  }

  .button.medium {
    padding: 8px 32px;
    min-width: 100px;
    height: 32px;
  }
}

.button.primary {
  @apply rounded dark:bg-white dark:text-black bg-black text-white transition-all duration-500;
}

.button.primary:not(.disabled):not(.loading):focus {
  @apply ring-2 ring-blue-300-35 dark:ring-blue-100-35 dark:bg-blue-100 bg-blue-300;
}

.button.primary.active {
  @apply hover:bg-blue-300 dark:hover:bg-blue-100;
}

.button.primary.disabled {
  @apply bg-gray-200 dark:bg-gray-700 dark:text-gray-300 text-gray-700 cursor-not-allowed;
}

.button.primary.caution {
  @apply dark:bg-error-100 bg-error-300;
}

.button.secondary {
  @apply rounded dark:text-white bg-transparent text-black  transition-all duration-500;
  border: 1px solid rgba(148, 150, 161, 1);
}
.button.secondary:hover { 
  border: 1px solid rgba(0, 0, 0, 1);
  background: #EBEDFB;
}

.dark .button.secondary{
  border: 1px solid rgba(91, 93, 107, 1);}

.dark .button.secondary:hover{
  border: 1px solid rgba(255, 255, 255, 1);
  background: #2B2E42;
}

.button.secondary:not(.disabled):not(.loading):focus {
  @apply ring-2 ring-blue-300-35 bg-blue-300-15 dark:bg-blue-100-15;
}

.button.secondary.active {
  @apply dark:hover:bg-blue-100-15 hover:bg-blue-300-15;
}

.button.secondary.disabled {
  @apply bg-transparent text-gray-400 dark:text-gray-600 cursor-not-allowed ring-gray-400;
}

.button.secondary.caution {
  @apply bg-transparent text-error-300 ring-error-300 dark:text-error-100 dark:ring-error-100;
}

.dropdown-btn.small-icon {
  width: 26px;
  height: 26px;
}

.dropdown-btn.medium-icon {
  width: 26px;
  height: 26px;
}

.dropdown-btn.big-icon {
  width: 32px;
  height: 32px;
}

@screen sm {
  .dropdown-btn.medium-icon {
    width: 32px;
    height: 32px;
  }

  .dropdown-btn.big-icon {
    width: 42px;
    height: 42px;
  }
}
