@font-face {
  font-family: "AuthenticSans-60";
  src: local("AUTHENTICSans-60"),
    url(./authentic-sans/otf/AUTHENTICSans-60.otf) format("otf"),
    url(./authentic-sans/woff/AUTHENTICSans-60.woff) format("woff"),
    url(./authentic-sans/woff2/AUTHENTICSans-60.woff2) format("woff2");
}

@font-face {
  font-family: "AuthenticSans-90";
  src: local("AUTHENTICSans-90"),
    url(./authentic-sans/otf/AUTHENTICSans-90.otf) format("otf"),
    url(./authentic-sans/woff/AUTHENTICSans-90.woff) format("woff"),
    url(./authentic-sans/woff2/AUTHENTICSans-90.woff2) format("woff2");
}

@font-face {
  font-family: "AuthenticSans-130";
  src: local("AUTHENTICSans-130"),
    url(./authentic-sans/otf/AUTHENTICSans-130.otf) format("otf"),
    url(./authentic-sans/woff/AUTHENTICSans-130.woff) format("woff"),
    url(./authentic-sans/woff2/AUTHENTICSans-130.woff2) format("woff2");
}
