.dropdown-menu {
  @apply bg-gray-50 dark:bg-gray-800 text-mb-blackblue dark:text-white rounded-b overflow-hidden absolute min-w-48;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-item {
  @apply flex hover:bg-blue-300-15 dark:hover:bg-blue-100-35 py-12 px-16 cursor-pointer justify-center text-center relative transition-all duration-500;
}

.dropdown-icon {
  @apply absolute right-4 top-1/2 flex;
  transform: translate(0, -50%);
}
