.chip {
  @apply py-8 px-32 bg-blue-300-15 dark:bg-blue-100-35 rounded-full w-max cursor-pointer relative;
  transition: all 0.5s ease-in 0s;
}

.chip .icon {
  @apply absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.chip.active {
  @apply bg-blue-300 dark:bg-blue-100;
  transition: all 0.5s ease-in 0s;
}
