.modal {
  @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
}

.modal-section {
  height: 300px;
  @apply relative my-4 max-w-3xl bg-white dark:bg-gray-850 rounded dark:text-white mx-24;
}

@screen md {
  .modal-section {
    @apply mx-0;
    width: 600px;
    height: 400px;
  }
}
