.modal {
  @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
}

.modal-section {
  min-height: 300px;
  width: 90%;
  @apply relative my-4 max-w-3xl bg-white dark:bg-gray-850 rounded dark:text-white mx-24;
}

@screen md {
  .modal-section {
    @apply mx-0;
    width: 600px;
    min-height: 400px;
  }
}

@screen lg {
  .modal-section {
    width: 900px;
  }
}

.modal-scale {
  animation: scale 0.3s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-hide {
  animation: unscale 0.3s ease-in-out;
}
@keyframes unscale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
