.modal-bg {
  @apply fixed inset-0 bg-black bg-opacity-75 overflow-y-auto h-full w-full;
  z-index: 99999;
}

.modal {
  @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 outline-none focus:outline-none;
  z-index: 99999;
}

.modal-section {
  min-height: 300px;
  max-height: 600px;
  width: 90%;
  @apply relative my-4 bg-white dark:bg-gray-850 rounded dark:text-white mx-24;
}

@screen md {
  .modal-section {
    @apply mx-0;
    width: 600px;
    min-height: 400px;
    max-height: none;
  }
}

@screen lg {
  .modal-section {
    width: 900px;
  }
}

.modal-scale {
  animation: scale 0.3s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-hide {
  animation: unscale 0.3s ease-in-out;
}
@keyframes unscale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
