.radio-item {
  @apply inline-block relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  @apply hidden;
}

.radio-item label:before {
  content: ' ';
  @apply inline-block relative border-2 rounded-full border-gray-200 dark:border-gray-700 w-5 h-5 cursor-pointer;
  top: 5px;
}

.radio-item input[type='radio']:checked + label:before {
  @apply border-blue-300 dark:border-blue-100;
}

.radio-item input[type='radio']:checked + label:after {
  width: 12px;
  height: 12px;
  top: 9px;
  left: 10px;
  content: ' ';
  @apply block absolute cursor-pointer border-2 rounded-full border-blue-300 dark:border-blue-100 bg-blue-300 dark:bg-blue-100;
}
