@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
@import "./assets/fonts/fonts.css";

/* Typography */

.heading-bold {
  @apply font-authentic-sans-130 text-29 md:text-35 leading-34 md:leading-38;
}

.heading {
  @apply font-authentic-sans-90 text-29 md:text-35 leading-34 md:leading-38;
}

.h1-bold {
  @apply font-authentic-sans-130 text-24 md:text-29 leading-28 md:leading-32;
}

.h1 {
  @apply font-authentic-sans-90 text-24 md:text-29 leading-28 md:leading-32;
}

.h2-bold {
  @apply font-authentic-sans-130 text-20 md:text-24 leading-22 md:leading-24;
}

.h2 {
  @apply font-authentic-sans-90 text-20 md:text-24 leading-22 md:leading-24;
}

.h3-bold {
  @apply font-authentic-sans-130 text-17 md:text-20 leading-18 md:leading-22;
}

.h3 {
  @apply font-authentic-sans-90 text-17 md:text-20 leading-18 md:leading-22;
}

.sub-p-bold {
  @apply font-authentic-sans-130 text-18 leading-22;
}

.sub-p {
  @apply font-authentic-sans-90 text-18 leading-22;
}

.big-p-bold {
  @apply font-authentic-sans-130 text-16 leading-18;
}

.big-p {
  @apply font-authentic-sans-90 text-16 leading-18;
}

.med-p-bold {
  @apply font-authentic-sans-130 text-14 leading-16;
}

.med-p {
  @apply font-authentic-sans-90 text-14 leading-16;
}

.small-p-bold {
  @apply font-authentic-sans-130 text-12 leading-14;
}

.small-p {
  @apply font-authentic-sans-90 text-12 leading-14;
}

.big-cap-bold {
  @apply font-authentic-sans-130 text-10 leading-12;
}

.big-cap {
  @apply font-authentic-sans-90 text-10 leading-12;
}

.med-cap-bold {
  @apply font-authentic-sans-130 text-9 leading-11;
}

.med-cap {
  @apply font-authentic-sans-90 text-9 leading-11;
}

.small-cap-bold {
  @apply font-authentic-sans-130 text-9 leading-11;
}

.small-cap {
  @apply font-authentic-sans-90 text-9 leading-11;
}

.action-cap {
  @apply font-authentic-sans-130 text-10 leading-12 uppercase;
}

/* Buttons */

.big {
  @apply big-p;
  padding: 12px 52px;
  min-width: 145px;
  min-height: 42px;
}

.medium {
  @apply med-p;
  padding: 8px 32px;
  min-width: 100px;
  min-height: 32px;
}

.small {
  @apply small-p;
  padding: 6px 24px;
  min-width: 80px;
  min-height: 26px;
}

.primary {
  @apply rounded dark:bg-white dark:text-black bg-black text-white;
}

.primary:focus {
  @apply ring-2 ring-blue-300-35;
}

.primary.normal {
  @apply hover:bg-blue-300 dark:hover:bg-blue-100;
}

.primary.disabled {
  @apply bg-gray-200 dark:bg-gray-700 dark:text-gray-300 text-gray-500 dark:text-black cursor-not-allowed;
}

.primary.caution {
  @apply dark:bg-error-300 bg-error-300;
}

.secondary {
  @apply rounded ring-1 dark:bg-white dark:text-black bg-white text-black ring-black hover:bg-blue-300-15;
}

.secondary:focus {
  @apply ring-2 ring-blue-300-35 bg-blue-300-15;
}

.secondary.normal {
}

.secondary.disabled {
  @apply bg-white text-gray-400 cursor-not-allowed ring-gray-400;
}

.secondary.caution {
}
