@import '../public/assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


.base-card.store > div > div {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249/var(--tw-bg-opacity));
}


.dark .base-card.store > div > div {
  --tw-bg-opacity: 1;
    background-color: rgb(40 42 58/var(--tw-bg-opacity));
}



.dark .dark\:hover\:bg-mb-red-35:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(58,28,42,var(--tw-bg-opacity));
}


.bg-opacity-1 {
  --tw-bg-opacity: 1;
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

.bg-opacity-15 {
  --tw-bg-opacity: 0.15;
}

.bg-opacity-20 {
  --tw-bg-opacity: 0.2;
}

.bg-opacity-25 {
  --tw-bg-opacity: 0.25;
}
.bg-opacity-30 {
  --tw-bg-opacity: 0.2;
}
.bg-opacity-35 {
  --tw-bg-opacity: 0.35;
}
.bg-opacity-40 {
  --tw-bg-opacity: 0.35;
}
.bg-opacity-45 {
  --tw-bg-opacity: 0.35;
}
.bg-opacity-50{
  --tw-bg-opacity: 0.5;
}
.bg-opacity-55{
  --tw-bg-opacity: 0.55;
}
.bg-opacity-60{
  --tw-bg-opacity: 0.60;
}
.bg-opacity-65{
  --tw-bg-opacity: 0.65;
}
.bg-opacity-70 {
  --tw-bg-opacity: 0.70;
}
.bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}
.bg-opacity-80 {
  --tw-bg-opacity: 0.80;
}
.bg-opacity-85 {
  --tw-bg-opacity: 0.85;
}
.bg-opacity-90 {
  --tw-bg-opacity: 0.90;
}
.bg-opacity-95 {
  --tw-bg-opacity: 0.95;
}

