.store {
  @apply p-12;
}

.store .card-wrapper {
  height: 68px;
  @apply rounded overflow-hidden;
}

.profile {
  @apply py-12 px-64;
}
.profile .card-wrapper {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  @apply rounded-full overflow-hidden;
}

.small .med-p,
.small .big-p,
.small .small-p {
  @apply break-words;
}
